﻿
@{
    Layout = null;
}
@using ASPMVCShoppingCart.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
        @foreach (Product p in ViewBag.listProduct)
        {
            <tr>
                <th>@p.Id</th>
                <th>@p.Name</th>
                <th>@p.Price</th>
                <th align="center">@Html.ActionLink("Order Now", "OrderNow","ShoppingCart", new { id=p.Id},null)</th>
            </tr>
        }
    </table>
</body>
</html>
