﻿
@{
    Layout = null;
}
@using ASPMVCShoppingCart.Controllers;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        @{
            decimal s = 0;
        }
        
        @foreach (Item item in (List<Item>)Session["cart"])
        {
            s = s + item.Product.Price * item.Quantity;
        <tr>
            <td>@Html.ActionLink("Delete","Delete","ShoppingCart", new { id=item.Product.Id},null)</td>
            <td>@item.Product.Id</td>
            <td>@item.Product.Name</td>
            <td>@item.Product.Price</td>
            <td>@item.Quantity</td>
            <td>@(item.Product.Price * item.Quantity)</td>
        </tr>
        }
        <tr>
            <td align="right" colspan="5">Sum</td>
            <td>@s</td>
        </tr>
    </table>
    <br />
    @Html.ActionLink("Continue Shopping", "Index", "Product");
</body>
</html>
